@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=MuseoModerno:wght@300&family=Open+Sans:wght@300&family=Pacifico&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  transition: 1s;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
